@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titan+One&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'poppins';
}

body{
    width:100%;
    min-height:100vh;
    background-color:#e6e6e6;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:70%;
    background-color:#fff;
    padding:30px;
    padding-top:10px;
    border-radius:12px;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container form{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    column-gap:50px;
    margin-top:15px;
}
.container .logo{
    display:flex;
    justify-content:start;
    align-items:center;
    column-gap:5px;
    padding:10px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
}
.container .logo img{
    width:50px;
    border-radius:50%;
    object-fit: cover;
}
.container .logo p{
    font-weight:500;
    font-family: 'Titan One', cursive;
}
.container form .left{
    align-self:start;
}

.container form .left,
.container form .right{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
    row-gap:30px;
}
.container form .left .field,
.container form .right .field{
    display:flex;
    flex-direction:column;
    width:100%;
    row-gap:10px;
}
.container form .left .field label,
.container form .right .field label{
    font-size:14px;
    font-weight:500;
}
.container form .left .field input,
.container form .right .field input{
    height:35px;
    padding:0 10px;
    font-size:14px;
    font-weight:500;
    border-radius:4px;
    border:1px solid #ccc;
    outline:0;
}
.container form .left .field input:focus,
.container form .right .field input:focus{
    border:3px solid #f6e58d;
}
.container form .left .nama{
    display:flex;
    flex-direction:row;
    column-gap:15px;
}
.container form .left .Uname{
    display:flex;
    flex-direction:column;
    width:100%;
    row-gap:10px;
}
.container .btn{
    width:100%;
    display:flex;
    justify-content: flex-start;
}
.container .btn button{
    width:120px;
    height:40px;
    border:0;
    color:#fff;
    font-size:15px;
    font-weight:500;
    background-color:#333;
    border-radius:4px;
}

@media screen and (max-width:983px){
    .container form{
        flex-direction:column;
        row-gap:20px;
    }
    .container .btn{
        margin-top:20px;
    }
    .container{
        margin:20px 0;
    }
}
@media screen and (max-width:677px){
    .container form .left .nama{
        flex-direction:column;
    }
    .container{
        margin:20px 0;
        width:90%;
    }
    .container .logo{
        justify-content:center;
    }
}